<footer class="px-4 py-2 bg-dark">
  <h1 class="text-center mb-2">Lorem, ipsum dolor.</h1>
  <p class="h6">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ipsa beatae
    iusto, tempora nobis cumque in magnam fugit explicabo quos quam accusantium
    est quod voluptate alias doloribus cupiditate quia perspiciatis, tenetur
    autem velit quaerat natus nesciunt optio.
  </p>
</footer>
